<div class="w-full">
  <div class="flex flex-col justify-center mb-4">
    <label for="token" class="block mb-2 text-sm font-medium text-white">Github
      API token</label>

    <div class="flex items-center justify-center gap-2 w-full">
      <input
        type="text"
        id="token"
        class="bg-transparent border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
        placeholder="Enter your GitHub API token"
        required
        value=""
        {{on "input" this.handleOrganizationChange}}
        {{on "keydown" this.handleKeyDown}}
      />
    </div>
    <span class="text-xs mt-1">For more information visit
      <a
        href="https://github.com/settings/tokens"
        target="_blank"
        rel="noopener noreferrer"
        class="inline font-medium underline text-blue-500 underline-offset-2 decoration-600 decoration-solid hover:no-underline"
      >https://github.com/settings/tokens</a>
      . We will not be storing your token, we will only use it to fetch the data
    </span>

  </div>

  <div class="flex flex-col justify-center">
    <label
      for="organization"
      class="block mb-2 text-sm font-medium text-white"
    >Organization name</label>

    <div class="flex items-center justify-center gap-2 w-full">
      <input
        type="text"
        id="organization"
        class="bg-transparent border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
        placeholder="Enter organization name"
        required
        value={{this.organization}}
        {{on "input" this.handleOrganizationChange}}
        {{on "keydown" this.handleKeyDown}}
      />
      <button
        type="button"
        class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
        {{on "click" this.handleSearch}}
      >Search</button>
    </div>
  </div>

  {{#unless (eq @organization "")}}
    <div class="flex items-center gap-2 mt-4 w-full">
      <div class="flex items-center">
        <input
          checked={{or (eq this.type "public") (eq this.type "all")}}
          id="public-checkbox"
          type="checkbox"
          value=""
          class="w-4 h-4 text-blue-600 bg-gray-700 border-gray-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-2"
          {{on "click" (fn this.handleTypeChange "public")}}
        />
        <label
          for="default-checkbox"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Public Repos</label>
      </div>
      <div class="flex items-center">
        <input
          checked={{or (eq this.type "private") (eq this.type "all")}}
          id="private-checkbox"
          type="checkbox"
          value=""
          class="w-4 h-4 text-blue-600 bg-gray-700 border-gray-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-2"
          {{on "click" (fn this.handleTypeChange "private")}}
        />
        <label
          for="checked-checkbox"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Private Repos</label>
      </div>

      <div class="ml-4 flex gap-2">

        <label
          for="languages"
          class="text-sm font-medium text-gray-900 dark:text-gray-300"
        >Language</label>
        <select
          name="languages"
          id="languages"
          class="bg-transparent border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          {{on "change" this.handleLanguageChange}}
        >
          <option value="">All</option>
          {{#each @languages as |language|}}
            <option value={{language}}>{{language}}</option>
          {{/each}}
        </select>

      </div>

    </div>
  {{/unless}}
</div>