{{page-title "EmberGhRepos"}}
<div class="max-w-screen-lg mx-auto">
  <RepoFilter @organization={{this.model.organization}} />

  {{#each this.model.data as |repo|}}
    <RepoCard
      @repo_name={{repo.name}}
      @repo_url={{repo.html_url}}
      @is_private={{repo.private}}
      @description={{repo.description}}
      @language={{repo.language}}
      @owner={{repo.owner}}
    />
  {{/each}}

</div>